                /* GENERAL */

            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');    

                :root{
                    --black-color:#000000;
                    --white-color: #fff;
                    --orange-color:#f37f2e;
                    --grey-color:#FAFAFA;
                    --black-grey-color:#343A40;
                }

                *{
                    margin:0;
                    /* color: var(--black-color);*/
                    /* background-color: var(--white-color);*/
                    font-family: 'Roboto', sans-serif;
                    /* font-size: 18px; */
                    letter-spacing: normal;
                }

                .btn {
                    margin: 20px auto;
                    background-color: transparent;
                    text-decoration: none;
                    color: var(--orange-color);
                    border: 2px solid var(--white-color);
                    border-color: var(--orange-color);
                    border-radius: 30px;
                    padding: 10px 40px;
                    transition:all 0.2s;
                    display: inline-block;
                }

                .btn:hover {
                    background: linear-gradient(to right, #f07728, #ffcc68);
                    transition:all 0.2s;
                    border-style: none;
                    color:var(--white-color)
                    /* 
                    background: rgb(255,255,255);
                    background: linear-gradient(278deg, rgba(255,255,255,1) 0%, rgba(243,127,46,1) 49%);
                    */
                }
                
                a {
                    text-decoration: none;
                    color: var(--black-color);
                    transition:all 0.2s;
                }

                a:hover {
                    color:var(--orange-color);
                    transition:all 0.2s;
                }

                ul {
                    list-style-type: none;
                }

                h2 {
                    color:var(--orange-color);
                }

                form {
                    text-align: left;
                    width: 100%;
                    display: grid;
                    gap: 20px;
                }

                textarea {
                    width: 100%;
                    max-height: 150px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: 2px solid var(--white-color);
                    border-radius: 4px;
                    background-color: var(--black-grey-color);
                    /* font-size: 16px; */
                    resize: none;
                }

               /* #check-consent{
                    vertical-align: middle;
                }*/

               /* input[type="text"] {
                    text-align: left;
                }

                input[type="textarea"] {
                    text-align: left;
                } */
                
                /* label,input[type="checkbox"]
                {
                    display: inline-block;
                    vertical-align: middle;
                }
                */
                /* HEADER */
                
                header {
                    padding: 0px 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 15px;
                    /* background-color: red; */
                    text-align: center;
                }

                /* header nav {
                    padding-left: 10px;
                    padding-right: 10px;
                }*/

                header nav ul {
                    display: flex;
                    grid-template-columns: repeat(7, 1fr);
                    /* padding-left: 10px;
                    padding-right: 10px;*/
                    gap: 10px;
                }

                header a {
                    font-size: 18px;
                }

                header img{
                    max-width: 125px;
                    margin: 20px 0px;
                }

                header nav ul li:nth-child(1) a:nth-child(1) {
                    color:var(--orange-color);
                }

                header #burgermenu {
                    display: none;
                }

                /* MAIN */

                /* main {
                   /* padding: 0px 15px;
                } */

                h1 {
                    text-transform: uppercase;              
                    font-size: 36px;
                    font-weight:900;
                    color:var(--orange-color);
                }

                main section:nth-child(1){ /* p:nth-child(1) */
                    display:grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: center;
                    text-align: left;
                    background-color: var(--grey-color);
                    padding:0px 15px;
                }
                
                main section:nth-child(2)>img{
                    display: block;
                    margin:auto;
                    padding: 100px 0px;
                }

                main section:nth-child(3){
                    background-color: var(--orange-color);
                    color:var(--white-color);
                    text-align: center;
                    padding: 150px 15px;
                    font-size: 24px;
                }

                main section:nth-child(4){
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    padding: 60px 15px;
                    gap: 20px;
                }
               main section:nth-child(4) article p:nth-child(1) {
                    text-align: center;
                    text-transform: uppercase;
                    color:var(--orange-color);
                    font-weight: 600;
                    font-size: 22px;
                    letter-spacing: normal;
                    margin: 85px auto;
                }

                main section:nth-child(4) article p:nth-child(2) {
                    width: 80%;
                    margin:auto;
                    align-items: center;
                }

                main section:nth-child(4) article:nth-child(1) {
                    background-image: url(/03_LP_ALC_Projects/01/06_Hagile_16012024/images/01\ \(1\).png);
                    background-repeat: no-repeat;
                }

                main section:nth-child(4) article:nth-child(2) {
                    background-image: url(/03_LP_ALC_Projects/01/06_Hagile_16012024/images/02.png);
                    background-repeat: no-repeat;
                }

                main section:nth-child(4) article:nth-child(3) {
                    background-image: url(/03_LP_ALC_Projects/01/06_Hagile_16012024/images/03.png);
                    background-repeat: no-repeat;
                }

                main section:nth-child(5){
                    background-image: url(/03_LP_ALC_Projects/01/06_Hagile_16012024/images/Photo-accueil.jpg);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: center;
                    background-size: cover;
                   /* position: fixed;*/
                    color:var(--white-color);
                    /* text-align: left; */
                    /* margin: 25% auto; */
                    min-height: 482px;
                    display: flex;
                    max-width: 100%;
                    align-items: center;
                    
                }

                main section:nth-child(5) article:nth-child(1) h2{
                    text-align: left;
                    margin: auto;
                    color:var(--white-color);
                }

                main section:nth-child(5) article:nth-child(1) a {
                    color:var(--white-color);
                    border-color: var(--white-color);
                }

                main section:nth-child(5) article:nth-child(1) {
                    /* display: grid;
                    grid-template-columns: repeat(1, 1fr); */
                    display: inline-block;
                    align-items: center;
                    text-align: left;
                    padding: 0px 30px;
                }

                main section:nth-child(6){
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 40px;
                    color:var(--white-color);
                    /* margin: 60px 20px; */
                }

                main section:nth-child(6) article {
                    background-color: var(--black-grey-color);
                    padding: 10px 20px;
                }

                /* main section:nth-child(6) label,  main section:nth-child(6) input,  main section:nth-child(6) p {
                    /* padding: 10px 25px; */
                    /* margin: 10px 25px;
                } */ 
                
                main section:nth-child(6) a .credentials {
                    color:var(--orange-color);

                }

                main section:nth-child(6) article form input {
                    max-width: 100%;
                    /* margin: 20px auto; */
                    background-color: transparent;
                    border: 2px solid var(--white-color);
                    border-color: var(--white-color);
                    border-radius: 30px;
                    padding: 2% 2% 2% 2%;
                    /* display: inline-block;*/
                    color:var(--white-color);
                    text-align: left;
                    /* width: 90%; */
                }

                /* 
                main section:nth-child(6) article form input value {
                    text-align: center;
                } */

               /* main section:nth-child(6) a{
                    color:var(--orange-color);
                    transition: all 0.2s;
                }
                */

                main section:nth-child(6) article:nth-child(1) h2 {
                    margin: 20px 0px;
                }

                /* main section:nth-child(6) article:nth-child(1) form:nth-child(1) form input {
                    text-align: left;
                    width: 100%;
                }

                main section:nth-child(6) article:nth-child(1) form input[type="text"] {
                    text-align: left;
                }
                */
               /* main section:nth-child(6) article:nth-child(1) form input textarea {
                    margin: auto;
                } */

                main section:nth-child(6) article:nth-child(2) div article :nth-child(2) {
                    color:var(--orange-color);
                }

                main section:nth-child(6) article:nth-child(2) div article a {
                    color:var(--orange-color);
                    transition: all 0.2s;
                }

                main section:nth-child(6) article:nth-child(2) div article a:hover {
                    color:var(--orange-color);
                    transition: all 0.2s;
                    opacity: 0.8;
                }

                main section:nth-child(6) article:nth-child(1) form .btn {
                    color:var(--orange-color);
                    border-color: var(--orange-color);
                }

                main section:nth-child(6) article:nth-child(1) form .btn:hover {
                    color:var(--white-color);
                    border-color: var(--white-color);
                }

                main section:nth-child(6) article form div {
                    width: auto;
                }

                /* FOOTER */

                footer {
                    padding: 20px 15px 30px 15px;
                    background-color: var(--grey-color);
                    text-align: center;
                }

                footer p, footer a{
                    color:var(--orange-color)
                }
/* Responsive Tablette */
@media screen and (max-width: 1024px) {

    /* GLOBAL */
    /* HEADER */ 
    header nav ul {
        display: none;
    }

    header #burgermenu {
            display: block;
    }

    /*MAIN*/

    main section:nth-child(1) img {
        max-width: 100%;
        height:auto;
    }

    main section:nth-child(4) {
        grid-template-columns: repeat(1, 1fr);
    }

    main section:nth-child(5) {
        background-attachment:local;
    }

    main section:nth-child(6) {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Responsive Smartphone */
@media screen and (max-width: 767px){

    /* MAIN */
    main section:nth-child(1) {
        grid-template-columns: repeat(1, 1fr);
    } 
}